<%- include('../includes/head.ejs') %>
</head>

<body>
     <%- include('../includes/navigation.ejs') %>
   

    <main>
      <% if (prods.length>0) {%>
      <div class="grid">
        <% for(let i=0;i<prods.length;i++){%>
            <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title"><%= prods[i].title %></h1>
            </header>
            <div class="card__image">
                <img
                src="<%= prods[i].imageUrl %>"
                alt="<%= prods[i].title %>"
                />
            </div>
            <div class="card__content">
                <h2 class="product__price">$<%= prods[i].price %></h2>
                <p class="product__description">
                    <%= prods[i].description %>
                </p>
            </div>
            <div class="card__actions">
                <form action="/cart" method="post">
                    <button class="btn" type="submit">Add to Cart</button>
                <input type="hidden" name="productId" value="<%= prods[i].id %>"/>

                </form>
            </div>
            </article>
        <% }%>    
      </div>
      <% }else{ %>
      <h1>No product</h1>
      <% } %>
    </main>
<%- include('../includes/end.ejs') %>

